<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{page.lang | append: "/" | relative_url }}">
      <img src="/img/logo.png" class="logo" width="64" height="64" alt="{{site.data.lang['site-title'][page.lang]}}" />
      {{site.data.lang['site-title'][page.lang]}}
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      {{site.data.lang['menu'][page.lang]}}
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{page.lang | append: "/" | relative_url }}">{{site.data.lang['home'][page.lang]}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{page.lang | append: "/about" | relative_url }}">{{site.data.lang['about'][page.lang]}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{page.lang | append:  "/people-and-politics" | relative_url }}">{{site.data.lang['people-and-politics'][page.lang]}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{page.lang | append:  "/verbatim" | relative_url }}">{{site.data.lang['verbatim'][page.lang]}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{page.lang | append: "/calendar" | relative_url }}">{{site.data.lang['calendar'][page.lang]}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{page.lang | append: "/partners" | relative_url }}">{{site.data.lang['partners'][page.lang]}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{page.lang | append: "/contact" | relative_url }}">{{site.data.lang['contact'][page.lang]}}</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="{{site.data.lang['switch-lang-code'][page.lang] | relative_url }}">{{site.data.lang['switch-lang-icon'][page.lang]}}&nbsp;{{site.data.lang['switch-lang-label'][page.lang]}}</a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>
