// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

.logo {
  display: none;
}

@media (min-width: 410px) {
  .logo {
    display: inline;
    position: static;
  }
}

@media (min-width: 1060px) {
  .logo {
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
  }
}
