---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
  <header class="masthead">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{site.data.lang['site-title'][page.lang]}}</h1>
            <span class="subheading">{{site.data.lang['site-subtitle'][page.lang]}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p><em>{{site.data.lang['site-description'][page.lang]}}</em></p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% assign posts = site.posts | where: "lang", page.lang %}
        {% if posts.size > 0 %}
        {% for post in posts limit : 5 %}
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">
            {{ post.date | date: "%d.%m.%Y" }} &middot; {% include read_time.html content=post.content %}
          </p>
        </article>

        <hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{page.lang | append:  "/posts" | relative_url }}">{{site.data.lang['all-posts'][page.lang]}} &rarr;</a>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
