---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">
              {{ page.date | date: "%d.%m.%Y" }} &middot; {% include read_time.html content=page.content %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <hr>

        <div class="clearfix">
          {% assign previous = page.previous %}
          {% for ignored in (1..10000) %}
            {% if previous == nil or previous.lang == page.lang %}
              {% break %}
            {% else %}
              {% assign previous = previous.previous %}
            {% endif %}
          {% endfor %}

          {% if previous.url %}
          <a class="btn btn-primary float-left" href="{{ previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ previous.title }}">&larr; {{site.data.lang['previous-post'][page.lang]}}</a>
          {% endif %}

          {% assign next = page.next %}
          {% for ignored in (1..10000) %}
            {% if next == nil or next.lang == page.lang %}
              {% break %}
            {% else %}
              {% assign next = next.next %}
            {% endif %}
          {% endfor %}

          {% if next.url %}
          <a class="btn btn-primary float-right" href="{{ next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ next.title }}">{{site.data.lang['next-post'][page.lang]}} &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>
